* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

body {
  width: 1200px;
  margin: 0 auto;
  background-color: black;
  padding-top: 50px;
}

main {
  height: 600px;
  background-image: url("../images/cs_fy_pool_day.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

header div {
  padding-bottom: 20px;
}

.btn {
  color: black;
  padding: 5px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-weight: bold;
}

.rules-btn {
  background-color: grey;
  margin-right: 30px;
}

.start-btn {
  background-color: white;
  color: black;
}

.start-btn:disabled {
  background-color: green;
  color: white;
}

footer {
  padding: 10px 0;
  text-align: center;
  background-color: black;
  color: white;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}

#user-chances {
  top: 187px;
  right: 360px;
  text-align: center;
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
  position: fixed;
}

.rules-board {
  background-color: white;
  display: flex;
  width: 400px;
  height: 250px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 25px;
  border-radius: 10px;
}

.entendi-btn {
  margin-top: 20px;
  background-color: black;
  color: white;
}

.show {
  display: flex;
}

.hidden {
  display: none;
}

.question-section {
  padding: 20px 20px 0 20px;
  background-color: white;
  width: 300px;
  height: 200px;
  font-size: 14px;
  border-radius: 10px;
}

.next-btn {
  margin-left: 150px;
  background-color: black;
  color: white;
}

.result-board {
  padding: 20px 20px 0 20px;
  background-color: white;
  width: 150px;
  height: 100px;
  font-size: 14px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.result-btn {
  margin: 20px 0 0 15px;
  background-color: black;
  color: white;
}

.game-over,
.winner {
  padding: 0;
}

.audio-theme,
.win,
.lose,
.begin {
  display: none;
}

.response {
  background-color: rgb(223, 219, 219);
}
